* {
  font-family: "Inter", sans-serif;
}

* {
  color: #444444;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#logo {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1.75px solid #000000;
  display: inline;
  padding: 3px 10px;
}

nav {
  position: absolute;
  left: 0;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 3rem;
  margin-right: 3rem;
}

h1 {
  color: #000000;
  margin-left: 3rem;
}

/* MAIN */

#index-heading {
  margin-bottom: 0;
  font-size: 2.5rem;
}

#index-heading2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
}

p {
  margin-left: 3rem;
  margin-right: 3rem;
}

.video {
  width: 75%;
  display: flex;
}

/* PRODUCTS */

.product-container {
  display: grid;
  grid-template-areas: "img img img img";
}

figure {
  grid-area: img;
  text-align: center;
}

.product-image {
  width: 235px;
  height: 235px;
  object-fit: cover; /* different sized images cover the entire container */
}

/* FOOTER */

#footer {
  font-size: 80%;
}

footer {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
  margin-top: 225px;
}
