* {
  font-family: "Inter", sans-serif;
}

* {
  color: #444444;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#logo {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #000000;
  display: inline;
  padding: 3px 10px;
}

nav {
  position: absolute;
  left: 0;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 3rem;
}

h1 {
  color: #000000;
}

/* PRODUCTS */

.product-container {
  display: grid;
  grid-template-areas: "img img img img";
}

figure {
  margin-left: 0;
  grid-area: img;
}

.product-image {
  width: 90%;
}

/* FOOTER */

#footer {
  font-size: 80%;
}

footer {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
  margin-top: 225px;
}
